body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar {
  background: #0000FF;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  font-weight: bold;
}

.row {
  padding-top: 3em;
}

.btn-group>.btn:first-child {
    margin-left: 15px;
}

.numbered::first-letter {
    color: red;
}
