body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar {
  background: #0000FF;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  font-weight: bold;
}

input {
  border: solid 1px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 1em;
  border-radius: 0;
}

.row {
  margin: 3em;
}
